.items.show {
  .sub-header {
    background-color: $bc_item-color;
  }

  .metadata-box-wrap {
    border-left: 10px solid $bc_item-color;
  }
  .item-main {
    img {
      max-width: 100%;
    }
  }

  .previous-page, .next-page {
    background-color: $bc_item-color;
  }
}