#home {
  main {
    margin-top: 3em;
  }

  figure {
    padding: 0;

    img {
      width: 100%;
    }
  }

  figcaption {
    padding: .5em 1em;
    position: absolute;
    z-index: 10;
    top: 0;
    background-color: $bc_white;
    border-left-width: 10px;
    border-left-style: solid;
    box-shadow: $bc_box-shadow;

    .exhibit-title {
      font-family: "Open Sans Condensed", sans-serif;
    }

  }

  .exhibit-1 {
    figcaption {
      border-left-color: orange;
      .exhibit-title {
        font-size: 42px;
      }
    }
  }

  .exhibit-2, .exhibit-3 {
    figcaption {
      .exhibit-title {
        font-size: 24px;
      }
    }
  }

  .exhibit-two {
    figcaption {
      border-left-color: purple;
    }
  }

  .exhibit-three {
    figcaption {
      border-left-color: green;
    }
  }
}