@grid-gutter-width:         300px;


@import "bc-variables";
@import "bootstrap";
@import "bc-modular-header";

@grid-gutter-width:         300px;


.navbar {
  border: 0;
}

header {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  background-color: $header-bg;
  z-index: 2;
  position: relative;
}

.navbar {
  margin-bottom: 8px;

  h1 {
    font-size: 24px;
  }

  ul.navbar-right {
    margin-top: 21px;
  }

  .nav-pills {
    > li {
      text-transform: uppercase;
      margin-right: 16px;
      float: none;
      display: inline-block;
      font-size: 18px;
      vertical-align: baseline;

      & > a {
        padding: 0;
      }
    }

    & > li.active {
      border-top: 2px solid blue;
    }

    & > li.active > a, & > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: $text-color;
      background-color: $header-bg;
    }
  }
}

.noteworthy-exhibits {
  clear: both
}

.featured-exhibits {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.exhibit {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}

.sub-header {
  background-color: $bc_dark_gold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}