@grid-gutter-width :         300px;

@import "bc-variables";
@import "bootstrap";
@import "bc-modular-header";
@import "mixins";
@import "exhibit_nav";

@grid-gutter-width :         300px;

h1 {
  font-size: 38px;
  margin: 11px 0;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.navbar {
  border: 0;
}

.navbar-left {
  font-size: 13px;

  & > li {
    display: inline-block;

    & > a {
      padding: 0 5px;
      margin-top: 15px;

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    &.active a {
      border-top: 2px solid brown
    }
  }
}

header {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  background-color: $header-bg;
  z-index: 2;
  position: relative;
}

.navbar {
  margin-bottom: 8px;

  h1 {
    font-size: 24px;
  }

  ul.navbar-right {
    margin-top: 21px;
  }

  .nav-pills {
    > li {
      text-transform: uppercase;
      margin-right: 16px;
      float: none;
      display: inline-block;
      font-size: 18px;
      vertical-align: baseline;

      & > a {
        padding: 0;
      }
    }

    & > li.active {
      border-top: 2px solid blue;
    }

    & > li.active > a, & > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: $text-color;
      background-color: $header-bg;
    }
  }
}

.noteworthy-exhibits {
  margin-top: 5em;
  clear: both
}

$featured_exhibit_height: 225px;
$featured_exhibit_tail: 20px;
$featured_exhibit_bottom_margin: 20px;

$brief_result_left_border: $bc_bright_orange;
$summary_left_border: $bc_bright_orange;

.featured-exhibits {

  .exhibit-list {
    background-color: $bc_light_grey;
    height: ($featured_exhibit_height + $featured_exhibit_bottom_margin) * 2;
    margin-bottom: $featured_exhibit_bottom_margin;
    border-left: 10px solid $brief_result_left_border;

    .exhibit {
      height: $featured_exhibit_height;
    }
  }
}

.full-exhibit-list {
  background-color: $bc_light_grey;
  border-left: 10px solid $brief_result_left_border;

  .exhibit {
  }
}

.exhibit {
  background-color: #fff;
  padding: 1em;
  margin-bottom: $featured_exhibit_bottom_margin;
  clear: both;
  overflow: hidden;
  position: relative;

  a.image {
    img {
      max-width: 100%;
    }
  }
}

.sub-header {
  background-color: $bc_dark_gold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.exhibit h3 > a:before {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 100%;
  content: "";
  display: block;
  background-color: #f7f6f8;
  z-index: 50;
}

.exhibit h3 > a:after {
  border: inset 16px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #E5E2D7;
  border-left-style: solid;
  position: absolute;
  right: -13px;
  top: 50%;
  margin-top: -16px;
  z-index: 51;
}

.summary {
  #primary {
    background-color: #fff;
    padding: 1em;
    border-left: 10px solid $exhibit_color;
  }

  .exhibit-description img {
    float: left;
    margin-right: 1em;
  }

  .exhibit-credits h3 {
    font-size: $font-size-base;
  }

  nav#exhibit-pages {
    background-color: rgba(255, 255, 255, .97);
    padding: 4px 12px;
    margin-top: 1em;

    border-left: 10px solid $exhibit-color;

    h3 {
      font-size: 20px;
    }

    ul {
      margin-left: 15px;
      padding-left: 0;
    }
  }
}

.enter-exhibit {
  border: 3px solid #000;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  position: relative;

  & > a {
    padding: 0.3rem 1.5rem 0.3rem 0.5rem;
    margin: 2px;
    background-color: $bc_caption_blue;
    color: #fff;
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
      background-color: lighten($bc_caption_blue, 8%);
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }
  &:after {
    @include css-triangle(8px, rgba(255, 255, 255, 0.8), left);
    position: absolute;
    top: 9px;
    right: -4px;
  }
}



#exhibit-blocks {
  border-left: 10px solid $exhibit-color;

  .exhibit-block {
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 24px;
    overflow: hidden;
  }

}